<% if user_signed_in? %>
    <% @users.each do |user| %>
        <div class="post col-md-4">
            <div class="message">
                <% if user.image? %>
            		<%= image_tag(user.image.url(:thumb), :style => "position:absolute;right:15px;top:0;") %>
            	<% end %>
                <h2 class="message-title"><%= link_to image_tag("white.png", :width => "20px"), user %>&nbsp;&nbsp;<%= user.username %></h2>
                <p class="message-description"><%= user.email %></p>
            </div>
        </div>
    <% end %>
<% else %>
	<h3>Please log in to view the discussion.</h3>
<% end %>