/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */


/* General styles */
.Categorypost {
	border-bottom: 8px solid #AB18BC !important;
}
.Projectpost {
	border-bottom: 8px solid #1895BC !important;	
}
.Ideapost {
	border-bottom: 8px solid #BC5D18 !important;	
}
.Userpost {
	border-bottom: 8px solid #5EBC18 !important;	
}

.category {
	height:8px;
	background-color: #AB18BC;
}
.project {
	height:8px;
	background-color: #1895BC;
}
.idea {
	height:8px;
	background-color: #BC5D18;
}
.user {
	height:8px;
	background-color: #5EBC18;	
}


body {
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;	
}


.navbar {
	margin-bottom:0 !important;
	border-radius:0 !important;
}

.white {
	padding-top:3px;
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}



/* Message styles */

.message {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	padding: 1.4em 1.4em;
	border-bottom: 4px solid #18bc9c;

	.message-title {
		font-size: 1.5em;
	
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}
	
	.message-description {
		color: white;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.message:nth-child(4n) {
	clear: left;
}

/* Message show-page styles */

.message-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #18bc9c;
	color: #fff;

	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}

.message-posted-by {
		color: #eee;
		font-size: 0.9em;
	}
	

/* Comment styles */

.comment {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;


	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}
}

.links {
	margin-top: 15px;
	a {
		margin-right: 15px;
	}
}